/* Basic reset */
.navbar {
  margin-top: 2px;
  /* margin-left: -0px; */
  border-radius: 15px;
  width: 99vw;
  background-color: #161D39;
  color: white;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: space-between; /* Space between logo and logout */
  align-items: center; /* Align items vertically */
}

.navbar img {
  border-radius: 50%;
  margin-right: 10px; /* Adjust spacing from text */
}

.navbar button {
  padding: 5px 10px;
  border-radius: 5px;
  border-color: transparent;
  background-color: #f8f8f8;
  color: #161D39;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.navbar button:hover {
  background-color: #e0e0e0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    /* background-color: #f0f2f5; */
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .notice-form {
    display: flex;
    flex-direction: column;
  }
  
  h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    color: #555;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  .form-control:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .file-input {
    width: 100%;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .submit-button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .message {
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: #e9ecef;
    color: #333;
    text-align: center;
  }
  