/* General Body Styles */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #333;
  /* background: #f0f2f5; */
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161D39;
  color: white;
  margin-bottom: 100px;
  padding: 5px 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: white;
}

.logo {
  border-radius: 50%;
  margin-right: 10px;
  height: 50px;
  width: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-actions {
  display: flex;
  align-items: center;
}

.logout-button {
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.logout-button:hover {
  background-color: #d94545;
  transform: scale(1.05);
}

.logout-button i {
  margin-right: 8px;
}

/* Container Styles */
.container {
  margin-top: 60px;
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border: none;
}

/* Header Styles */
h2 {
  text-align: center;
  color: #1e3c72;
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 700;
}

/* Input and Button Styles */
input[type="email"],
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 20px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #1e3c72;
  box-shadow: 0 0 10px rgba(30, 60, 114, 0.2);
  outline: none;
}

/* Button Styles */
button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 12px;
  color: #fff;
  background: linear-gradient(45deg, #1e3c72, #2a5298);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s ease;
  margin-bottom: 15px;
}

button:hover {
  background: linear-gradient(45deg, #2a5298, #1e3c72);
  transform: scale(1.03);
}

button:active {
  background: linear-gradient(45deg, #1e3c72, #2a5298);
  transform: scale(1);
}

/* Message Styles */
p {
  text-align: center;
  color: #e74c3c;
  font-weight: 500;
  font-size: 14px;
  margin-top: 15px;
}

/* Responsive Design */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    padding: 20px;
  }

  .logo {
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
  }

  .container {
    max-width: 95%;
    padding: 20px;
  }

  h2 {
    font-size: 24px;
  }

  input[type="email"],
  input[type="text"],
  input[type="password"] {
    font-size: 14px;
    padding: 12px;
  }

  button {
    font-size: 16px;
    padding: 12px;
  }

  p {
    font-size: 12px;
  }
}
