<body>
  <div class="navbar">
    <div class="navbar-brand">
      <img src="../../assets/images/hitech_Logo.jpeg" alt="Hi-Tech Logo" class="logo">
      Hi-Tech Institute of Engineering and Technology
    </div>
    <div class="navbar-actions">
      <a href="./"> <button class="logout-button" ><i class="fas fa-sign-out-alt"></i> Login</button></a>
    </div>
  </div>

  <div class="container">
    <h2>Forgot Password</h2>

    <div *ngIf="!resetToken">
      <input type="email" [(ngModel)]="email" placeholder="Enter your email" />
      <button (click)="requestOtp()">Send OTP</button>
      <input type="text" [(ngModel)]="otp" placeholder="Enter OTP" />
      <button (click)="verifyOtp()">Verify OTP</button>
    </div>

    <div *ngIf="resetToken">
      <input type="password" [(ngModel)]="newPassword" placeholder="Enter new password" />
      <input type="password" [(ngModel)]="confirmNewPassword" placeholder="Confirm new password" />
      <button (click)="resetPassword()">Reset Password</button>
    </div>

    <p>{{ message }}</p>
  </div>
</body>
