<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<body>
    <div class="navbar">
        <div class="navbar-brand">
            <img src="../../assets/images/hitech_Logo.jpeg" alt="Hi-Tech Logo" class="logo">
            Hi-Tech Institute of Engineering and Technology
        </div>
        <div class="navbar-actions">
            <button class="logout-button" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</button>
        </div>
    </div>

<div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

<table *ngIf="notices.length > 0" class="notice-table">
  <thead>
    <tr>
      <th style="text-align: left;">Title</th>
      <th>Course</th>
      <th>Semester</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let notice of notices">
      <td style="text-align: left;">{{ notice.title }}</td>
      <td>{{ notice.course }}</td>
      <td>{{ notice.semester }}</td>
      <td>{{ notice.date }}</td>
      <td><a [href]="notice.pdfUrl" target="_blank">View Notice</a></td>
    </tr>
  </tbody>
</table>

<div *ngIf="notices.length === 0">
  <p>No notices available.</p>
</div>
